# Terraform
/.terraform/terraform.tfstate
/.terraform/terraform.tfstate.backup
/plan.out
/.plan.*
*.DS_Store
*.publishsettings

# Keys
*.pem

# BOSH
*state.json
bosh-director.yml
concourse.yml
aws-cloud.yml

pipeline/vars/pipeline_secret.yml
